body{
	background-color: #6d695c;
	background-image:
	repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
}

p {
	margin: 0px;
	padding: 0px;
	font-size:14;
}

h4{
	color:#f7951e;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

#container{
	width: 980px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

#header {
	width: 960px;
	height: 95px;
	padding: 0 10px;
	background: url(images/header.png) no-repeat;
}